@{
    /**/

    ViewBag.Title = "pagoGestion";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contenido</a></li>
                        <li class="breadcrumb-item active">Gestion Pago</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO PAGO</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        @*<button type="button" class="btn btn-success btn-rounded mb-3" data-toggle="modal" data-target="#modalClase">
                                <i class="mdi mdi-plus"></i>Agregar Pago
                            </button>*@
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idNivelg">Nivel</label>
                                <select class="form-control" name="widnivel" id="idNivelg"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idGradog">Grado</label>
                                <select class="form-control" name="widgrado" id="idGradog"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idCursog">Curso</label>
                                <select class="form-control" name="widcurso" id="idCursog"></select>
                            </div>
                        </div>
                    </div>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblPago" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Alumno</th>
                                        <th>Fecha Inicio</th>
                                        <th>Inscripción</th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- end preview code-->
                    </div>
                    <!-- end tab-content-->
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
    <!-- MODAL -->
    <div id="modalPago" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">PAGO</h4>
                    <button type="button" id="btnguardarpagoCancelar" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("RegistrarPago", "pago", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <input type="hidden" name="widpago" value="0" />
                            <input type="hidden" name="widpagodetalle" value="0" />
                            <input type="hidden" name="widusuario" value="@ViewBag.Gidusuario" />

                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="idNivel">Nivel</label>
                                    <select class="form-control" name="widnivel" id="idNivel"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="idGrado">Grado</label>
                                    <select class="form-control" name="widgrado" id="idGrado"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="idCurso">Curso</label>
                                    <select class="form-control" name="widcurso" id="idCurso"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="txtnrooperacion">Nro de operación</label>
                                    <input type="text" id="txtnrooperacion" name="woperacion"
                                           class="form-control" placeholder="Número de Operación">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="slcmes">Mes de pago</label>
                                    <select class="form-control" name="wmes" id="slcmes"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="slctipopago">Tipo de pago</label>
                                    <select class="form-control" name="wtipopago" id="slctipopago">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Transferencia</option>
                                        <option value="2">Efectivo</option>
                                        <option value="3">Por agente</option>
                                        <option value="4">Otro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="slctipomoneda">Tipo de moneda</label>
                                    <select class="form-control" name="wtipomoneda" id="slctipomoneda">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Soles</option>
                                        <option value="2">Dólares</option>
                                        <option value="3">Otro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group mb-3">
                                    <label for="txtmonto">Monto</label>
                                    <input type="text" id="txtmonto" name="wmonto"
                                           class="form-control" placeholder="Número de Operación">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label for="flImagen1">Imagen de comprobante</label>
                                <input type="file" name="FRutaImagenes"
                                       id="flImagen1" accept="image/jpeg,image/jpg">
                            </div>

                            <div class="col-lg-4">
                                <label for="flImagen2">Imagen 2 de comprobante (opcional)</label>
                                <input type="file" name="FRutaImagenes"
                                       id="flImagen2" accept="image/jpeg,image/jpg">
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group mb-3">
                                    <label for="example-textarea">Descripcion (opcional)</label>
                                    <textarea class="form-control" name="wdescripcion"
                                              id="txtDescripcion" placeholder="Descripción..." rows="3"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="wanio" value="2021" />
                            <input type="hidden" name="whora" value="0" />

                            <input type="hidden" name="wfecha_ini_pago" value="" />
                            <input type="hidden" name="wbestado" value="1" />
                            <input type="hidden" name="wfr" value="" />
                            <input type="hidden" name="wff" value="" />
                        </div>
                        <div class="row justify-content-center text-center">
                            <button class="btn btn-success btn-shadow btn-sm" id="btnGuardarPago" type="submit">Guardar Pago</button>
                        </div>

                    }
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end row-->
    <div id="modalDetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">Detalle de pagos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblDetalle" class="table table-bordered dt-responsive w-100">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Descripción</th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<input type="hidden" value="@ViewBag.GrolUsuario" id="hddtipousuario" />

<script>
    var GvalorIdCurso = 0;
    function fn_ListarNivel() {

        $('#idNivelg').find('option').remove();
        $('#idNivel').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/curso/ListarNivel",
            success: function (data) {
                if (data.aaData === "") {
                    alert("¡No hay niveles, intenta agregar algunos!");
                }
                $('#idNivelg').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idNivelg').append($("<option></option>")
                        .attr("value", value.idnivel)
                        .text(value.SnombreNivel));
                });

                $('#idNivel').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idNivel').append($("<option></option>")
                        .attr("value", value.idnivel)
                        .text(value.SnombreNivel));
                });

            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_ListarGrado() {
        var inivelvalor = $('#idNivel option:selected').attr('value');
        $('#idGrado').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/curso/ListarGrado",
            data: {
                "widnivel": parseInt(inivelvalor),
            },
            success: function (data) {

                if (data.aaData === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idGrado').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idGrado').append($("<option></option>")
                        .attr("value", value.idgrado)
                        .text(value.SnombreGrado));
                });

            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_ListarCursoGeneral() {
        var inivelvalor = $('#idNivelg option:selected').attr('value');
        $('#idGradog').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/curso/ListarGrado",
            data: {
                "widnivel": parseInt(inivelvalor),
            },
            success: function (data) {
                if (data.aaData === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idGradog').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idGradog').append($("<option></option>")
                        .attr("value", value.idgrado)
                        .text(value.SnombreGrado));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function fn_ListarCurso() {
        var slcnivelg = $('#idNivel option:selected').attr('value');
        var slcgradog = $('#idGrado option:selected').attr('value');
        var dtipousuario = $('#hddtipousuario').val();
        var idusuarioparam = $('#hddidusuario').val();

        $('#idCurso').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/clase/ListarClaseGestion",
            data: {
                "idgrado": parseInt(slcgradog),
                "idnivel": parseInt(slcnivelg)
            },
            success: function (data) {
                if (data.data === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idCurso').append($("<option></option>")
                    .attr("value", "0")
                    .text("Listar todo"));
                $.each(data, function (index, value) {
                    $('#idCurso').append($("<option></option>")
                        .attr("value", value.idcurso)
                        .text(value.Snombre));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_ListarCursoGeneral() {
        var slcnivelg = $('#idNivelg option:selected').attr('value');
        var slcgradog = $('#idGradog option:selected').attr('value');
        var dtipousuario = $('#hddtipousuario').val();
        var idusuarioparam = $('#hddidusuario').val();

        $('#idCursog').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/clase/ListarClaseGestion",
            data: {
                "idgrado": parseInt(slcgradog),
                "idnivel": parseInt(slcnivelg)
            },
            success: function (data) {
                if (data.data === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idCursog').append($("<option></option>")
                    .attr("value", "0")
                    .text("Listar todo"));
                $.each(data, function (index, value) {
                    $('#idCursog').append($("<option></option>")
                        .attr("value", value.idcurso)
                        .text(value.Snombre));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_listartabla() {

        $('#tblPago').DataTable(
            {
                "ajax": {
                    "url": "/Pago/ListarPago",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "wcuenta": ""
                        , "widusuario": 0
                        , "widnivel": 0
                        , "widgrado": 0
                        , "widcurso": GvalorIdCurso
                        , "wivigente": 0
                        , "wnombre": ""
                        , "wfechaini": "vacio"
                        , "wfechafin": "vacio"
                        , "wimes": 0
                        , "wianio": 0
                    }
                },
                //"bServerSide": true,
                "bProcessing": true,
                "bDestroy": true,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sLengthMenu": "Mostrando _MENU_ filas",
                    "sSearch": "Buscar:"
                },
                "columns": [
                    { "data": "Susuario" },
                    {
                        "data": "Imes",
                        "mRender": function (data, type, value) {
                            var valormes = "";
                            switch (value.Imes) {
                                case 1: valormes = "Enero"; break;
                                case 2: valormes = "Febrero"; break;
                                case 3: valormes = "Marzo"; break;
                                case 4: valormes = "Abril"; break;
                                case 5: valormes = "Mayo"; break;
                                case 6: valormes = "Junio"; break;
                                case 7: valormes = "Julio"; break;
                                case 8: valormes = "Agosto"; break;
                                case 9: valormes = "Septiembre"; break;
                                case 10: valormes = "Octubre"; break;
                                case 11: valormes = "Noviembre"; break;
                                case 12: valormes = "Diciembre"; break;
                            }
                            return valormes + " / " + value.Ianio;
                        }
                    },
                    {
                        "data": "Ianio",
                        "mRender": function (data, type, value) {
                            return value.SnivelNombre + "/" + value.SnombreCurso;
                        }
                    },

                    {}
                ],
                "aoColumnDefs":
                    [
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-info' onclick='fnVerDetalle(" + row.idpago + ")' >Ver detalle</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [3]
                        },
                    ]
            });
    }

    $(document).ready(function () {
        fn_ListarNivel();

        $('#idNivel').on('change', function () {
            fn_ListarGrado();
        });

        $('#idNivelg').on('change', function () {
            fn_ListarGrado();
        });

        $('#idGrado').on('change', function () {
            fn_ListarCurso();
        });

        $('#idGradog').on('change', function () {
            fn_ListarCursoGeneral();
        });

        $('#idCurso').on('change', function () {
            GvalorIdCurso = $('#idCurso option:selected').attr('value');
            fn_listartabla();
        });

        fn_listartabla();
    });

    var valorObjetoDetallePago = {};
    function fnVerDetalle(ivaloridpago) {
        $('#modalDetalle').modal("show");
        $('#tblDetalle').DataTable(
            {
                "ajax": {
                    "url": "/Pago/ListarPagoDetalle",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "widpago": ivaloridpago,
                        "wbactivo": 99,
                        "wbestado": 99,
                        "wfechaini": 'vacio',
                        "wfechafin": 'vacio'
                    }
                },
                //"bServerSide": true,
                "bFilter": false,
                "bProcessing": true,
                "order": [[0, "asc"]],
                "bDestroy": true,
                "paging": false,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere..."
                    //"sSearch": "Buscar:"
                },
                "columns": [
                    { "data": "Imes" },
                    {
                        "data": "Imes",
                        "mRender": function (data, type, value) {
                            var valormes = "";
                            switch (value.Imes) {
                                case 1: valormes = "Enero"; break;
                                case 2: valormes = "Febrero"; break;
                                case 3: valormes = "Marzo"; break;
                                case 4: valormes = "Abril"; break;
                                case 5: valormes = "Mayo"; break;
                                case 6: valormes = "Junio"; break;
                                case 7: valormes = "Julio"; break;
                                case 8: valormes = "Agosto"; break;
                                case 9: valormes = "Septiembre"; break;
                                case 10: valormes = "Octubre"; break;
                                case 11: valormes = "Noviembre"; break;
                                case 12: valormes = "Diciembre"; break;
                            }
                            return valormes + " / " + value.Ianio;
                        }
                    },
                    {
                        "data": "Ianio",
                        "mRender": function (data, type, value) {
                            if (value.Iestado == 1) {
                                return "Pagado";
                            } else {
                                return "No Pagado";
                            }

                        }
                    },
                    {
                        "data": "Sdescripcion",
                        "mRender": function (data, type, value) {
                            if (value.Sdescripcion == "-") {
                                return "-";
                            } else {
                                return value.Sdescripcion;
                            }

                        }
                    },
                    //{}
                ],
                "aoColumnDefs":
                    [
                        /*{
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-sm btn-success' onclick='fnVerPago(" +
                                    1 + "," +
                                    row.Idia + "," +
                                    row.Dmonto + "," +
                                    row.Ianio + "," +
                                    row.Iestado + "," +
                                    row.Imes + "," +
                                    row.Itipomoneda + "," +
                                    row.Itipopago + "," +
                                    "\"" + row.Sdescripcion + ", " +
                                    row.Sfecharegistro + ", " +
                                    row.Simg_ruta_1 + ", " +
                                    row.Simg_ruta_2 + ", " +
                                    row.Soperacion + "\"" + ", " +
                                    row.idpagodetalle + "," +
                                    row.idpago
                                    + ")'>Ver</button>";
                                if (row.Iestado == 0) {
                                    strHtml = "<button class='btn btn-sm btn-info' onclick='fnVerPago(" + 0 + ")' >Pagar</button>";
                                }
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [4]
                        }*/
                    ]
            });
    }

    function fnVerPago(tipo, a, b, c, d, e, f, g, h, i, j, k, l, m, n) {
        $('#modalDetalle').modal("hide");
        if (tipo == 1) {
            $('#btnGuardarPago').css("display", "none");
        }

        console.log(tipo, a + "," + b + "," + c + "," + d + "," + e + "," + f +
            "," + g + "," + h + "," + i + "," + j + "," + k + "," + l + "," + m + "," + n);
        $('#modalPago').modal("show");
    }

    function fn_ConfimarEliminar() {

        $.ajax({
            type: "POST",
            url: "/Clase/EliminarClaseGestion",
            data: {
                "widclase": idClase
            },
            success: function (data) {
                $('#modal-eliminar').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();

            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>
