@{
    ViewBag.Title = "pagoGestion";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contenido</a></li>
                        <li class="breadcrumb-item active">Gestion Pago</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO PAGO</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <button type="button" class="btn btn-success btn-rounded mb-3" data-toggle="modal" data-target="#modalClase">
                            <i class="mdi mdi-plus"></i>Agregar Pago
                        </button>
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idNivel">Nivel</label>
                                <select class="form-control" name="widnivel" id="idNivel">
                                    <option value="">Seleccione</option>
                                    <option value="1">Primaria</option>
                                    <option value="2">Secundaria</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idGrado">Grado</label>
                                <select class="form-control" name="widgrado" id="idGrado"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idCurso">Curso</label>
                                <select class="form-control" name="widcurso" id="idCurso"></select>
                            </div>
                        </div>
                    </div>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblPago" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Alumno</th>
                                        <th>Fecha Inicio</th>
                                        <th>Inscripción</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- end preview code-->
                    </div>
                    <!-- end tab-content-->

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
    <!-- MODAL -->
    <div id="modalPago" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">PAGO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idNivel">Nivel</label>
                                <select class="form-control" id="idNivel"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idGrado">Grado</label>
                                <select class="form-control" id="idGrado"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="idCurso">Curso</label>
                                <select class="form-control" id="idCurso"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="simpleinput">Nombre</label>
                                <input type="text" id="txtNombre" class="form-control" placeholder="Clase">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idSemana">Número de semana</label>
                                <select class="form-control" id="idSemana">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Semana 1</option>
                                    <option value="2">Semana 2</option>
                                    <option value="3">Semana 3</option>
                                    <option value="4">Semana 4</option>
                                    <option value="5">Semana 5</option>
                                    <option value="6">Semana 6</option>
                                    <option value="7">Semana 7</option>
                                    <option value="8">Semana 8</option>
                                    <option value="9">Semana 9</option>
                                    <option value="10">Semana 10</option>
                                    <option value="11">Semana 11</option>
                                    <option value="12">Semana 12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <form>
                                <div class="form-group mb-3">
                                    <label for="example-textarea">Descripcion clase</label>
                                    <textarea class="form-control" id="txtDescripcion" placeholder="Descripción..." rows="5"></textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Ruta enlace</label>
                                    <input type="text" id="txtRutaEnlace" class="form-control" placeholder="Ruta enlace...">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Ruta video</label>
                                    <input type="text" id="txtRutaVideo" class="form-control" placeholder="Ruta video...">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnGuardar"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end row-->
    <!--MODAL AGREGAR ARCHIVO-->
    <div id="modalDetalle" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">ARCHIVO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtNombreArc">Nombre</label>
                                <input type="text" id="txtNombreArc" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txttipoarchivo">Tipo de archivo</label>
                                <select class="form-control" id="txttipoarchivo">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Tarea (Calificable)</option>
                                    <option value="2">Teoría</option>
                                    <option value="3">Texto</option>
                                    <option value="4">Otro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="txtdescripcion">Descripción</label>
                                <textarea class="form-control" id="txtdescripcion" placeholder="Descripción..." rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtenlace">Enlace del archivo</label>
                                <input type="text" id="txtenlace" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtvideo">Enlace del Video (opcional)</label>
                                <input type="text" id="txtvideo" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtfechaini">Fecha Inicio</label>
                                <input type="date" id="txtfechaini" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtfechafin">Fecha Fin</label>
                                <input type="date" id="txtfechafin" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnGuardarArchivo"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<input type="hidden" value="@ViewBag.GrolUsuario" id="hddtipousuario" />

<script>
    var GvalorIdCurso = 0;

    function fn_ListarGrado() {
        var inivelvalor = $('#idNivel option:selected').attr('value');
        $('#idGrado').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/curso/ListarGrado",
            data: {
                "widnivel": parseInt(inivelvalor),
            },
            success: function (data) {

                if (data.aaData === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idGrado').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idGrado').append($("<option></option>")
                        .attr("value", value.idgrado)
                        .text(value.SnombreGrado));
                });

            },
            error: function (data) {
                console.log(data);
            }
        });


    }

    function fn_ListarCurso() {
        var slcnivelg = $('#idNivel option:selected').attr('value');
        var slcgradog = $('#idGrado option:selected').attr('value');
        var dtipousuario = $('#hddtipousuario').val();
        var idusuarioparam = $('#hddidusuario').val();

        $('#idCurso').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/clase/ListarClaseGestion",
            data: {
                "idgrado": parseInt(slcgradog),
                "idnivel": parseInt(slcnivelg)
            },
            success: function (data) {
                if (data.data === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idCurso').append($("<option></option>")
                    .attr("value", "0")
                    .text("Listar todo"));
                $.each(data, function (index, value) {
                    $('#idCurso').append($("<option></option>")
                        .attr("value", value.idcurso)
                        .text(value.Snombre));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_listartabla() {

        $('#tblPago').DataTable(
            {
                "ajax": {
                    "url": "/Pago/ListarPago",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "wcuenta": ""
                        , "widusuario": 0
                        , "widnivel": 0
                        , "widgrado": 0
                        , "widcurso": GvalorIdCurso
                        , "wivigente": 0
                        , "wnombre": ""
                        , "wfechaini": "vacio"
                        , "wfechafin": "vacio"
                        , "wimes": 0
                        , "wianio": 0
                    }
                },
                //"bServerSide": true,
                "bProcessing": true,
                "bDestroy": true,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sSearch": "Buscar:"
                },
                "columns": [
                    { "data": "Susuario" },
                    {
                        "data": "Imes",
                        "mRender": function (data, type, value) {
                            var valormes = "";
                            switch (value.Imes) {
                                case 1: valormes = "Enero"; break;
                                case 2: valormes = "Febrero"; break;
                                case 3: valormes = "Marzo"; break;
                                case 4: valormes = "Abril"; break;
                                case 5: valormes = "Mayo"; break;
                                case 6: valormes = "Junio"; break;
                                case 7: valormes = "Julio"; break;
                                case 8: valormes = "Agosto"; break;
                                case 9: valormes = "Septiembre"; break;
                                case 10: valormes = "Octubre"; break;
                                case 11: valormes = "Noviembre"; break;
                                case 12: valormes = "Diciembre"; break;
                            }
                            return valormes + " / " + value.Ianio;
                        }
                    },
                    {
                        "data": "Ianio",
                        "mRender": function (data, type, value) {
                            return value.SnivelNombre + "/" + value.SnombreCurso;
                        }
                    },

                    {},
                    {}
                ],
                "aoColumnDefs":
                    [
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-info' onclick='fnVerDetalle(" + row.idpago + ")' >Ver detalle</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [3]
                        },
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-warning' onclick='fnAgregarClase(" + row.idpago + ")' data-delet=\"" + row.idpago + "\" id='AccessEliminar' >Editar</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [4]
                        }
                    ]
            });
    }

    $(document).ready(function () {

        $('#idNivel').on('change', function () {
            fn_ListarGrado();
        });

        $('#idGrado').on('change', function () {
            fn_ListarCurso();
        });

        $('#idCurso').on('change', function () {
            GvalorIdCurso = $('#idCurso option:selected').attr('value');
            fn_listartabla();
        });

        fn_listartabla();
    });

    function fnVerDetalle(ivaloridpago) {
        $('#modalDetalle').modal("show");
        $('#tblPagoDetalle').DataTable(
            {
                "ajax": {
                    "url": "/Pago/ListarPagoDetalle",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "widpago": 0,
                        "wbactivo": 0,
                        "wbestado": 0,
                        "wfechaini": '',
                        "wfechafin": ''
                    }
                },
                //"bServerSide": true,
                "bProcessing": true,
                "bDestroy": true,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sSearch": "Buscar:"
                },
                "columns": [
                    { "data": "Susuario" },
                    {
                        "data": "Imes",
                        "mRender": function (data, type, value) {
                            var valormes = "";
                            switch (value.Imes) {
                                case 1: valormes = "Enero"; break;
                                case 2: valormes = "Febrero"; break;
                                case 3: valormes = "Marzo"; break;
                                case 4: valormes = "Abril"; break;
                                case 5: valormes = "Mayo"; break;
                                case 6: valormes = "Junio"; break;
                                case 7: valormes = "Julio"; break;
                                case 8: valormes = "Agosto"; break;
                                case 9: valormes = "Septiembre"; break;
                                case 10: valormes = "Octubre"; break;
                                case 11: valormes = "Noviembre"; break;
                                case 12: valormes = "Diciembre"; break;
                            }
                            return valormes + " / " + value.Ianio;
                        }
                    },
                    {
                        "data": "Ianio",
                        "mRender": function (data, type, value) {
                            return value.SnivelNombre + "/" + value.SnombreCurso;
                        }
                    },

                    {},
                    {}
                ],
                "aoColumnDefs":
                    [
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-info' onclick='fnVerDetalle(" + row.idpago + ")' >Ver detalle</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [3]
                        },
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-warning' onclick='fnAgregarClase(" + row.idpago + ")' data-delet=\"" + row.idpago + "\" id='AccessEliminar' >Editar</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [4]
                        }
                    ]
            });
    }
    var idClase = 0;

    function fn_ConfimarEliminar() {

        $.ajax({
            type: "POST",
            url: "/Clase/EliminarClaseGestion",
            data: {
                "widclase": idClase
            },
            success: function (data) {
                $('#modal-eliminar').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();

            },
            error: function (data) {
                console.log(data);
            }
        });
    }



    $("#btnGuardarArchivo").click(function () {
        var txtNombre = $('#txtNombreArc').val();
        var txtenlace = $('#txtenlace').val();
        var txtvideo = $('#txtvideo').val();
        var txtfechaini = $('#txtfechaini').val();
        var txtfechafin = $('#txtfechafin').val();
        var itipoarchivo = $('#txttipoarchivo option:selected').attr('value');

        if (txtNombre.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL NOMBRE DEL ARCHIVO");
            return;
        }
        if (itipoarchivo.trim == 0) {
            NotificacionAvisoDerecha("SELECCIONE EL TIPO DE ARCHIVO");
            return;
        }
        if (txtenlace.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL NOMBRE DEL ENLACE");
            return;
        }


        $.ajax({
            type: "POST",
            url: '/archivo/InsertarArchivoGestion',
            data: {
                "idgrado": idClase,
                "nombre": txtNombre,
                "rutaenlace": txtenlace,
                "rutavideo": txtvideo,
                "fechaini": txtfechaini,
                "fechafin": txtfechafin,
                "itipoarchivo": itipoarchivo
            },
            async: false,
            success: function (msg) {
                NotificacionSuccessDerecha("Datos ingresados correctamente");
                $('#modalArchivo').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();
            },
            error: function (msg) {
                console.log(msg);
                //location.reload();
            },
            complete: function (data) {
                // si acabo de completar
            }
        });

    });

</script>
