<div class="container-fluid">
    <br />
    <h4 class="page-title">REPORTE</h4>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="idCursog">Curso</label>
                <select class="form-control form-control-light" name="widcurso" id="idCursog"></select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="fi">Fecha inicio</label>
                <input type="text" class="form-control form-control-light" id="fi">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="ff">Fecha fin</label>
                <input type="text" class="form-control form-control-light" id="ff">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="idrangofecha">Fechas automáticas</label>
                <select class="form-control form-control-light" name="widcurso" id="idrangofecha">
                    <option value="0">Selecione</option>
                    <option value="1">Hoy</option>
                    <option value="2">Última semana</option>
                    <option value="3">Últimos 15 días</option>
                    <option value="4">Último mes</option>
                    <option value="5">Últimos 90 días</option>
                    <option value="6">Últimos 365 días</option>
                </select>
            </div>
        </div>
        <div class="col-3" style="margin-top: 2.8%;margin-bottom: auto;">
            <a href="" class="btn btn-success ml-2" data-toggle="tooltip" data-placement="top" data-html="true"
               title="Actualiza y busca la información." id="btnActualizar">
                Buscar&nbsp;<i class="mdi mdi-autorenew"></i>
            </a>
            <a href="javascript: void(0);" data-toggle="tooltip" data-placement="top" data-html="true"
               title="Imprime y descarga la información." id="btnImprimir" class="btn btn-primary ml-1">
                Imprimir&nbsp;<i class="mdi mdi-filter-variant"></i>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-5 col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-right">
                                <i class="mdi mdi-account-multiple widget-icon"></i>
                            </div>
                            <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Alumnos</h5>
                            <h3 class="mt-3 mb-3" id="rptTotalAlumno">0</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-right">
                                <i class="mdi mdi-cart-plus widget-icon"></i>
                            </div>
                            <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">Alumnos de Pago inscritos</h5>
                            <h3 class="mt-3 mb-3" id="rptTotalAlumnoPago">0</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-right">
                                <i class="mdi mdi-currency-usd widget-icon"></i>
                            </div>
                            <h5 class="text-muted font-weight-normal mt-0" title="Average Revenue">Ganancias</h5>
                            <h3 class="mt-3 mb-3" id="rptTotalGanancia">0</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-right">
                                <i class="mdi mdi-pulse widget-icon"></i>
                            </div>
                            <h5 class="text-muted font-weight-normal mt-0" title="Growth">Cantidad Pagos</h5>
                            <h3 class="mt-3 mb-3" id="rptCantidadPagos">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-7  col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" class="dropdown-item">Exportar este reporte</a>
                            <a href="javascript:void(0);" class="dropdown-item">Actualizar</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">GANANCIAS POR MES</h4>
                    <div id="high-performing-product" class="apex-charts"
                         data-colors="#727cf5,#e3eaef"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">GANANCIAS</h4>

                    <div class="chart-content-bg">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <p class="text-muted mb-0 mt-3">Mes Actual</p>
                                <h2 class="font-weight-normal mb-3">
                                    <small class="mdi mdi-checkbox-blank-circle text-primary align-middle mr-1"></small>
                                    <span>S/. 0</span>
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted mb-0 mt-3">Mes Pasado</p>
                                <h2 class="font-weight-normal mb-3">
                                    <small class="mdi mdi-checkbox-blank-circle text-success align-middle mr-1"></small>
                                    <span>S/.0</span>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="dash-item-overlay d-none d-md-block">
                        <h5>Ganancia de hoy: S/ 0</h5>
                    </div>

                    <div id="revenue-chart" class="apex-charts mt-3"
                         data-colors="#727cf5,#0acf97"></div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-link float-right mb-3">
                        Export
                        <i class="mdi mdi-download ml-1"></i>
                    </a>
                    <h4 class="header-title mt-2">CURSOS MÁS VENDIDOS</h4>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">ARIRMETICA</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Precio</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">82</h5>
                                        <span class="text-muted font-13">Cantidad</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">ALGEBRA</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Price</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Quantity</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">GEOMETRIA</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Price</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Quantity</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">TRIGONOMETRIA</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Price</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Quantity</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">FISICA</h5>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Precio</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 font-weight-normal">0</h5>
                                        <span class="text-muted font-13">Cantidad</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

        <div class="col-xl-3 col-lg-6 order-lg-1">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title">VENTAS TOTALES</h4>

                    <div id="average-sales" class="apex-charts mb-4 mt-4"
                         data-colors="#727cf5,#0acf97,#fa5c7c,#ffbc00"></div>


                    <div class="chart-widget-list">
                        <p>
                            <i class="mdi mdi-square text-primary"></i> ARITMETICA
                            <span class="float-right">0</span>
                        </p>
                        <p>
                            <i class="mdi mdi-square text-danger"></i> ALGEBRA
                            <span class="float-right">0</span>
                        </p>
                        <p>
                            <i class="mdi mdi-square text-success"></i> GEOMETRIA
                            <span class="float-right">0</span>
                        </p>
                        <p class="mb-0">
                            <i class="mdi mdi-square text-warning"></i> TRIGONOMETRIA
                            <span class="float-right">0</span>
                        </p>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

        <div class="col-xl-3 col-lg-6 order-lg-1">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

</div>

<input type="hidden" value="@ViewBag.GrolUsuario" id="hddtipousuario" />
<input type="hidden" value="@ViewBag.Gidusuario" id="hddidusuario" />
<script src="~/assets/js/moment.js"></script>
<script>
    function fn_ListarCurso() {
        //var slcnivelg = $('#idNivel option:selected').attr('value');
        //var slcgradog = $('#idGrado option:selected').attr('value');
        var dtipousuario = $('#hddtipousuario').val();
        var idusuarioparam = $('#hddidusuario').val();

        $('#idCursog').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/clase/ListarClaseGestion",
            data: {
                "idgrado": parseInt(1),//slcgradog
                "idnivel": parseInt(1) //slcnivelg
            },
            success: function (data) {
                if (data.data === "") {
                    alert("¡No hay datos, ¡intenta agregar algunos!");
                }
                $('#idCursog').append($("<option></option>")
                    .attr("value", "0")
                    .text("Listar todo"));
                $.each(data, function (index, value) {
                    $('#idCursog').append($("<option></option>")
                        .attr("value", value.idcurso)
                        .text(value.Snombre));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    var gidcurso = 0;
    function fn_ListarUsuarios() {

        $.ajax({
            type: "POST",
            url: "/pago/ListarUsuarioTotal",
            data: {
                "widnivel": 1,
                "widgrado": 0,
                "widcurso": gidcurso
            },
            success: function (data) {
                $('#rptTotalAlumno').text(data.iResultado);
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_ListarUsuariosPago() {

        $.ajax({
            type: "POST",
            url: "/pago/ListarUsuarioTotal",
            data: {
                "widnivel": 2,
                "widgrado": 0,
                "widcurso": gidcurso
            },
            success: function (data) {
                $('#rptTotalAlumnoPago').text(data.iResultado);
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    function fn_ListarPagos() {

        $.ajax({
            type: "POST",
            url: "/pago/RptListarSumPago",
            data: {
                "widnivel": 0,
                "widgrado": 0,
                "widcurso": gidcurso,
                "wfechaini": '2021-01-01',
                "wfechafin": '2021-03-01',
                "wmes": 0,
                "wanio": 2021
            },
            success: function (data) {
                console.log(data);
                $('#rptTotalGanancia').text("S/. " + data.aaData[0].Dmonto);
                $('#rptCantidadPagos').text(data.aaData[0].idpago);
                /*
                 Dcomision_nombre
                 */
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    $(document).ready(function () {
        $('#btnActualizar').tooltip();
        $('#btnImprimir').tooltip();
        fn_ListarUsuarios();
        fn_ListarUsuariosPago();
        fn_ListarCurso();
        $('#fi').daterangepicker({ singleDatePicker: !0 });
        $('#ff').daterangepicker({ singleDatePicker: !0 });

        $('#idCursog').on('change', function () {
            gidcurso = $('#idCursog option:selected').attr('value');
            fn_ListarUsuarios();
            fn_ListarUsuariosPago();
        });

        fn_ListarPagos();

    });

</script>