<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                        <li class="breadcrumb-item active">Data Tables</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO CLASE</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalClase">Agregar Clase</button>
                    </p>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblClase" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>IdClase</th>
                                        <th>IdCurso</th>
                                        <th>Clase</th>
                                        <th>Nombre Curso</th>
                                        <th>Descripción</th>
                                        <th>Ruta Enlace</th>
                                        <th>Ruta Video</th>
                                        <th>Categoria</th>
                                        <th>Imagen</th>
                                        <th>Imagen Ruta</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- end preview code-->
                    </div>
                    <!-- end tab-content-->

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
    <!-- MODAL -->
    <div id="modalClase" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-dark">
                    <h4 class="modal-title" id="dark-header-modalLabel">Clase</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                <div class="form-group mb-3">
                                    <label for="example-select">Grado</label>
                                    <select class="form-control" id="idGrado">
                                        <option>Seleccionar</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="simpleinput">Nombre</label>
                                    <input type="text" id="txtNombre" class="form-control" placeholder="Clase">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-textarea">Descripcion</label>
                                    <textarea class="form-control" id="txtDescripcion" placeholder="Descripción..." rows="5"></textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Ruta enlace</label>
                                    <input type="text" id="txtRutaEnlace" class="form-control" placeholder="Ruta enlace...">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Ruta video</label>
                                    <input type="text" id="txtRutaVideo" class="form-control" placeholder="Ruta video...">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-select">Categoria</label>
                                    <select class="form-control" id="idCategoria">
                                        <option>Seleccionar</option>
                                        <option value="1">Clase Normal</option>
                                        <option value="2">Clase Especial</option>
                                    </select>
                                </div>



                                <div class="form-group mb-3">
                                    <label for="example-email">Imagen</label>
                                    <input type="file" id="fImagen" name="example-email" class="form-control" placeholder="Email">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-email">Ruta Imagen</label>
                                    <input type="text" id="txtRutaImagen" name="example-email" class="form-control" placeholder="Email">
                                </div>

                            </form>
                        </div>
                        <!-- end col -->
                        <!-- end col -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-dark" id="btnGuardar">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end row-->
    <!--MODAL ELIMINAR-->
    

    <!--MODAL ELIMINAR-->
</div>

<div id="modal-eliminar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-danger"></i>
                    <h4 class="mt-2">Seguro de Eliminar?</h4>
                    @*<p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>*@
                    <button type="button"  onclick="fn_ConfimarEliminar()" id="mdEliminar" class="btn btn-success my-2" data-dismiss="modal">Si</button>
                    <button type="button" id="" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script>

    $(document).ready(function () { 
        //fn_listarClase();      
        $('#tblClase').DataTable(
            {
                "ajax": {
                    "url": "/Clase/ListarClaseGeneral",
                    "type": "POST",
                    "datatype": "json",
                    "data": { "idcurso": 3 }
                },
                //"bServerSide": true,
                "bProcessing": true,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sSearch": "Buscar:"
                },

                "columns": [
                    { "data": "idclase" },
                    { "data": "idcurso" },
                    { "data": "Snombre" },
                    { "data": "Snombrecurso" },
                    { "data": "Sdescripcion" },
                    { "data": "Srutaenlace" },
                    { "data": "SrutaVideo" },
                    { "data": "Icategoria" },
                    { "data": "Simagen" },
                    { "data": "SimagenRuta" }
                ],
                "aoColumnDefs":
                    [
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-warning' onclick='fnEditar()' data-edit=\"" + row.idclase + "\" id='AccessEditar' >Editar</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [10]
                        },
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-danger' onclick='fnEliminar(" + row.idclase + ")' data-delet=\"" + row.idclase + "\" id='AccessEliminar' >Eliminar</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [11]
                        }
                    ]
            });
    });

    //function fn_listarClase() {

    //    //$('#tblClase').dataTable().fnClearTable();
    //    //DataTable()
    //    $('#tblClase').DataTable(
    //        {
    //            "ajax": {
    //                "url": "/Clase/ListarClaseGeneral",
    //                "type": "POST",
    //                "datatype": "json",
    //                "data": { "idcurso": 3 }
    //            },
    //            //"bServerSide": true,
    //            "bProcessing": true,
    //            "language": {
    //                "info": "",
    //                "infoEmpty": "",
    //                "infoFiltered": "",
    //                "emptyTable": "No se encontraron registros",
    //                "sZeroRecords": "No se encontraron registros.",
    //                "processing": "Cargando. Por favor espere...",
    //                "oPaginate": {
    //                    "sFirst": "Primero",
    //                    "sLast": "Último",
    //                    "sNext": "Siguiente",
    //                    "sPrevious": "Anterior"
    //                },
    //                "sSearch": "Buscar:"
    //            },

    //            "columns": [
    //                { "data": "idclase" },
    //                { "data": "idcurso" },
    //                { "data": "Snombre" },
    //                { "data": "Snombrecurso" },
    //                { "data": "Sdescripcion" },
    //                { "data": "Srutaenlace" },
    //                { "data": "SrutaVideo" },
    //                { "data": "Icategoria" },
    //                { "data": "Simagen" },
    //                { "data": "SimagenRuta" }
    //            ],
    //            "aoColumnDefs":
    //                [
    //                    {
    //                        "mRender": function (data, type, row) {
    //                            var strHtml = "<button class='btn btn-warning' onclick='fnEditar()' data-edit=\"" + row.idclase + "\" id='AccessEditar' >Editar</button>";
    //                            //console.log(row.idclase);
    //                            return strHtml;
    //                        },
    //                        "sWidth": "5px",
    //                        "sClass": "css-center",
    //                        "bSort": false,
    //                        "aTargets": [10]
    //                    },
    //                    {
    //                        "mRender": function (data, type, row) {
    //                            var strHtml = "<button class='btn btn-danger' onclick='fnEliminar(" + row.idclase + ")' data-delet=\"" + row.idclase + "\" id='AccessEliminar' >Eliminar</button>";
    //                            //console.log(row.idclase);
    //                            return strHtml;
    //                        },
    //                        "sWidth": "5px",
    //                        "sClass": "css-center",
    //                        "bSort": false,
    //                        "aTargets": [11]
    //                    }
    //                ]
    //        });
    //}


    function fnEditar() {
        $('body').on("click", "#AccessEdita", function (e) {
            e.preventDefault();
            var id_categoria = $(this).attr("data-edit");
            alert("Valor : " + id_categoria);            
            //$('#txNombreEditar').val(ArrayCategoria[1]);
        });
    }


    var idClase = 0;

    function fnEliminar(idclasem) {
        idClase = parseInt(idclasem);
        $("#modal-eliminar").modal("show");
    }

    function fn_ConfimarEliminar() {
        
        $.ajax({
            type: "POST",
            url: "/Clase/EliminarClaseGestion",
            //contentType: "application/json; charset=utf-8",
            data: {
                "widclase": idClase
            },
            //dataType: "json",
            //async: true,
            success: function (data) {     
                $('#modal-eliminar').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();
                //table.destroy();                
                //fn_listarClase();
                //$('#modal-eliminar').modal("hide");
                //setTimeout("$('#modal-eliminar').modal('hide');", 6000);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    $("#btnGuardar").click(function () {
        var slcGrado = $('#idGrado option:selected').attr('value');
        var slcCategoria = $('#idCategoria option:selected').attr('value');
        var txtNombre = $('#txtNombre').val();
        var txtDescripcion = $('#txtDescripcion').val();
        var txtRutaEnlace = $('#txtRutaEnlace').val();
        var txtRutaVideo = $('#txtRutaVideo').val();
        var txtRutaImagen = $('#txtRutaImagen').val();

        $.ajax({
            type: "POST",
            url: RutaPrincipal + 'Clase/InsertarClaseGestion',
            data: {
                "idgrado": slcGrado,
                "nombre": txtNombre,
                "descripcion": txtDescripcion,
                "rutaenlace": txtRutaEnlace,
                "rutavideo": txtRutaVideo,
                "categoria": slcCategoria,
                "imagen": "",
                "imagenruta": txtRutaImagen,
                "orden": 0
            },
                async: false,
            success: function (msg) {
                $('#modalClase').hide();
            console.log(msg);
            },
            error: function (msg) {
            console.log(msg);
            //location.reload();
            },
            complete: function (data) {
            // si acabo de completar
            }
        });

    });


</script>


