<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contenido</a></li>
                        <li class="breadcrumb-item active">Gestion clases</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO CLASE</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalClase">Agregar Clase</button>
                    </p>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblClase" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Clase</th>
                                        <th>Nombre Curso</th>
                                        <th>Descripción</th>
                                        <th>Ruta Enlace</th>
                                        <th>Ruta Video</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- end preview code-->
                    </div>
                    <!-- end tab-content-->

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
    <!-- MODAL -->
    <div id="modalClase" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-dark">
                    <h4 class="modal-title" id="dark-header-modalLabel">Clase</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idNivel">Nivel</label>
                                <select class="form-control" id="idNivel">
                                    <option>Seleccionar</option>
                                    <option value="1">Primaria</option>
                                    <option value="2">Secundaria</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idGrado">Grado</label>
                                <select class="form-control" id="idGrado">
                                    <option>Seleccionar</option>
                                    <option value="1">Primero</option>
                                    <option value="2">Segundo</option>
                                    <option value="3">Tercero</option>
                                    <option value="4">Cuarto</option>
                                    <option value="5">Quinto</option>
                                    <option value="6">Sexto</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="idCurso">Curso</label>
                                <select class="form-control" id="idCurso"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="simpleinput">Nombre</label>
                                <input type="text" id="txtNombre" class="form-control" placeholder="Clase">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idSemana">Número de semana</label>
                                <select class="form-control" id="idSemana">
                                    <option>Seleccionar</option>
                                    <option value="1">Semana 1</option>
                                    <option value="2">Semana 2</option>
                                    <option value="3">Semana 3</option>
                                    <option value="4">Semana 4</option>
                                    <option value="5">Semana 5</option>
                                    <option value="6">Semana 6</option>
                                    <option value="7">Semana 7</option>
                                    <option value="8">Semana 8</option>
                                    <option value="9">Semana 9</option>
                                    <option value="10">Semana 10</option>
                                    <option value="11">Semana 11</option>
                                    <option value="12">Semana 12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <form>
                                <div class="form-group mb-3">
                                    <label for="example-textarea">Descripcion clase</label>
                                    <textarea class="form-control" id="txtDescripcion" placeholder="Descripción..." rows="5"></textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Ruta enlace</label>
                                    <input type="text" id="txtRutaEnlace" class="form-control" placeholder="Ruta enlace...">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Ruta video</label>
                                    <input type="text" id="txtRutaVideo" class="form-control" placeholder="Ruta video...">
                                </div>

                                <!--<div class="form-group mb-3">
                                    <label for="example-select">Categoria</label>
                                    <select class="form-control" id="idCategoria">
                                        <option>Seleccionar</option>
                                        <option value="1">Clase Normal</option>
                                        <option value="2">Clase Especial</option>
                                    </select>
                                </div>-->
                                <!--   <div class="form-group mb-3">
                                    <label for="example-email">Imagen</label>
                                    <input type="file" id="fImagen" name="example-email" class="form-control" placeholder="Email">
                                </div>  -->
                                <!--
                                <div class="form-group mb-3">
                                    <label for="example-email">Ruta Imagen</label>
                                    <input type="text" id="txtRutaImagen" name="example-email" class="form-control" placeholder="Email">
                                </div>
                                    -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-dark" id="btnGuardar">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- end row-->
    <!--MODAL AGREGAR ARCHIVO-->
    <div id="modalArchivo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-dark">
                    <h4 class="modal-title" id="dark-header-modalLabel">Archivo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtNombreArc">Nombre</label>
                                <input type="text" id="txtNombreArc" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txttipoarchivo">Tipo de archivo</label>
                                <select class="form-control" id="txttipoarchivo">
                                    <option>Seleccionar</option>
                                    <option value="1">Tarea (Calificable)</option>
                                    <option value="2">Teoría</option>
                                    <option value="3">Texto</option>
                                    <option value="4">Otro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="txtdescripcion">Descripción</label>
                                <textarea class="form-control" id="txtdescripcion" placeholder="Descripción..." rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtenlace">Enlace del archivo</label>
                                <input type="text" id="txtenlace" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtvideo">Enlace del Video (opcional)</label>
                                <input type="text" id="txtvideo" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtfechaini">Fecha Inicio</label>
                                <input type="date" id="txtfechaini" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtfechafin">Fecha Fin</label>
                                <input type="date" id="txtfechafin" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-dark" id="btnGuardarArchivo">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


</div>

<div id="modal-eliminar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-danger"></i>
                    <h4 class="mt-2">Seguro de Eliminar?</h4>
                    @*<p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>*@
                    <button type="button" onclick="fn_ConfimarEliminar()" id="mdEliminar" class="btn btn-success my-2" data-dismiss="modal">Si</button>
                    <button type="button" id="" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script>
    function fn_ListarCategoria() {
        var slcnivel = $('#idNivel option:selected').attr('value');
        var slcgrado = $('#idGrado option:selected').attr('value');
        $('#idCurso').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/clase/ListarClaseGestion",
            data: {
                "idgrado": parseInt(slcgrado),
                "idnivel": parseInt(slcnivel)
            },
            success: function (data) {
                if (data.data === "") {
                    alert("¡No hay categorias, intenta agregar una!");
                }
                $('#idCurso').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data, function (index, value) {
                    $('#idCurso').append($("<option></option>")
                        .attr("value", value.idcurso)
                        .text(value.Snombre));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });

    }

    $(document).ready(function () {
        $('#tblClase').DataTable(
            {
                "ajax": {
                    "url": "/Clase/ListarClaseGeneral",
                    "type": "POST",
                    "datatype": "json",
                    "data": { "idcurso": 0 }
                },
                //"bServerSide": true,
                "bProcessing": true,
                "language": {
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "emptyTable": "No se encontraron registros",
                    "sZeroRecords": "No se encontraron registros.",
                    "processing": "Cargando. Por favor espere...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sSearch": "Buscar:"
                },
                "columns": [

                    { "data": "Snombre" },
                    { "data": "Snombrecurso" },
                    { "data": "Sdescripcion" },
                    { "data": "Srutaenlace" },
                    { "data": "SrutaVideo" },
                    { "data": "SimagenRuta" }
                ],
                "aoColumnDefs":
                    [
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-warning' onclick='fnEditar()' data-edit=\"" + row.idclase + "\" id='AccessEditar' >Editar</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [5]
                        },
                        {
                            "mRender": function (data, type, row) {
                                var strHtml = "<button class='btn btn-info' onclick='fnAgregarClase(" + row.idclase + ")' data-delet=\"" + row.idclase + "\" id='AccessEliminar' >Agregar archivo</button>";
                                return strHtml;
                            },
                            "sWidth": "5px",
                            "sClass": "css-center",
                            "bSort": false,
                            "aTargets": [6]
                        }
                    ]
            });

        $('#idGrado').on('change', function () {
            fn_ListarCategoria();
        });
    });

    function fnEditar() {
        $('body').on("click", "#AccessEdita", function (e) {
            e.preventDefault();
            var id_categoria = $(this).attr("data-edit");
            alert("Valor : " + id_categoria);
            //$('#txNombreEditar').val(ArrayCategoria[1]);
        });
    }
    var idClase = 0;

    function fnAgregarClase(idclasem) {
        idClase = parseInt(idclasem);
        $("#modalArchivo").modal("show");
    }

    function fn_ConfimarEliminar() {

        $.ajax({
            type: "POST",
            url: "/Clase/EliminarClaseGestion",
            data: {
                "widclase": idClase
            },
            success: function (data) {
                $('#modal-eliminar').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();

            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    $("#btnGuardar").click(function () {
        var slcCurso = $('#idCurso option:selected').attr('value');
        var slcCategoria = $('#idCategoria option:selected').attr('value');
        var txtNombre = $('#txtNombre').val();
        var txtDescripcion = $('#txtDescripcion').val();
        var txtRutaEnlace = $('#txtRutaEnlace').val();
        var txtRutaVideo = $('#txtRutaVideo').val();
        var txtRutaImagen = $('#txtRutaImagen').val();
        var slcSemana = $('#idSemana option:selected').attr('value');

        $.ajax({
            type: "POST",
            url: '/Clase/InsertarClaseGestion',
            data: {
                "idgrado": slcCurso,
                "isemana": slcSemana,
                "nombre": txtNombre,
                "descripcion": txtDescripcion,
                "rutaenlace": txtRutaEnlace,
                "rutavideo": txtRutaVideo,
                "categoria": 1,
                "imagen": "",
                "imagenruta": "",
                "orden": 0
            },
            async: false,
            success: function (msg) {
                $('#modalClase').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();
            },
            error: function (msg) {
                console.log(msg);
                //location.reload();
            },
            complete: function (data) {
                // si acabo de completar
            }
        });

    });

    $("#btnGuardarArchivo").click(function () {
        var txtNombre = $('#txtNombreArc').val();
        var txtenlace = $('#txtenlace').val();
        var txtvideo = $('#txtvideo').val();
        var txtfechaini = $('#txtfechaini').val();
        var txtfechafin = $('#txtfechafin').val();
        var itipoarchivo = $('#txttipoarchivo option:selected').attr('value');

        $.ajax({
            type: "POST",
            url: '/archivo/InsertarArchivoGestion',
            data: {
                "idgrado": idClase,
                "nombre": txtNombre,
                "rutaenlace": txtenlace,
                "rutavideo": txtvideo,
                "fechaini": txtfechaini,
                "fechafin": txtfechafin,
                "itipoarchivo": itipoarchivo
            },
            async: false,
            success: function (msg) {
                $('#modalArchivo').modal("hide");
                var table = $('#tblClase').DataTable();
                table.ajax.reload();
            },
            error: function (msg) {
                console.log(msg);
                //location.reload();
            },
            complete: function (data) {
                // si acabo de completar
            }
        });

    });

</script>


