@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contenido</a></li>
                        <li class="breadcrumb-item active">Gestion clases</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO CLASE</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <button type="button" class="btn btn-success btn-rounded mb-3" data-toggle="modal" data-target="#modalClase">
                            <i class="mdi mdi-plus"></i>Agregar Clase
                        </button>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idGradog">Grado</label>
                                <select class="form-control" id="idGradog"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idCursog">Curso</label>
                                <select class="form-control" id="idCursog"></select>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblClase" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th width="70%">Nombre</th>
                                        <th width="10%"></th>
                                        <th width="10%"></th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div id="modalClase" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">CLASE</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idGrado">Grado</label>
                                <select class="form-control" id="idGrado"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idCurso">Curso</label>
                                <select class="form-control" id="idCurso"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="simpleinput">Nombre de la clase</label>
                                <input type="text" id="txtNombre" class="form-control" placeholder="Clase">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idSemana">Número de semana</label>
                                <select class="form-control" id="idSemana">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Semana 1</option>
                                    <option value="2">Semana 2</option>
                                    <option value="3">Semana 3</option>
                                    <option value="4">Semana 4</option>
                                    <option value="5">Semana 5</option>
                                    <option value="6">Semana 6</option>
                                    <option value="7">Semana 7</option>
                                    <option value="8">Semana 8</option>
                                    <option value="9">Semana 9</option>
                                    <option value="10">Semana 10</option>
                                    <option value="11">Semana 11</option>
                                    <option value="12">Semana 12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="example-textarea">Descripcion clase</label>
                                <textarea class="form-control" id="txtDescripcion" placeholder="Descripción..." rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="simpleinput">Enlace de la Clase</label>
                                <input type="text" id="txtRutaEnlace" class="form-control" maxlength="100" placeholder="Ruta enlace...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="simpleinput">Ruta video</label>
                                <input type="text" id="txtRutaVideo" class="form-control" maxlength="100" placeholder="Ruta video...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnGuardar"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL AGREGAR ARCHIVO-->
    <div id="modalArchivo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">Tarea</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" name="idgrado" value="" id="hddidclase" />
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtNombreArc">Nombre</label>
                                <input type="text" name="nombre" id="txtNombreArc" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6" style="display:none;">
                            <input class="form-control" name="itipoarchivo" value="1" id="txttipoarchivo">
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtvideo">Archivo de la tarea</label>
                                <input type="file" id="txtvideo" name="FRutaArchivo" class="form-control"
                                       accept="application/msword, application/vnd.ms-powerpoint, text/plain
                                                , application/pdf, image/*, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                                 application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtfechaini">Fecha Inicio</label>
                                <input type="date" name="fechaini" id="txtfechaini" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtfechafin">Fecha Fin</label>
                                <input type="date" name="fechafin" id="txtfechafin" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="txtenlace">Enlace de la tarea</label>
                                <input type="text" maxlength="100" name="rutaenlace" id="txtenlace" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="txtdescripcion">Descripción</label>
                                <textarea class="form-control" name="descripcion" id="txtdescripcion" placeholder="Descripción..." rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button onclick="fnAgregarTarea();" class="btn btn-success btn-rounded mb-3"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL ACTUALIZAR CLASE -->
    <div id="modalActualizarClase" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">ACTUALIZAR CLASE</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="hddidclase" value="" />
                        <input type="hidden" id="hddidcurso" value="" />
                        <input type="hidden" id="hddsemana" value="" />

                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtNombreEditar">Nombre de la clase</label>
                                <input type="text" id="txtNombreEditar" class="form-control" placeholder="Clase">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="idSemanaEditar">Número de semana</label>
                                <input disabled type="text" class="form-control" id="idSemanaEditar" value="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="txtDescripcionEditar">Descripcion clase</label>
                                <textarea class="form-control" id="txtDescripcionEditar" placeholder="Descripción..." rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtRutaEnlaceEditar">Enlace de la Clase</label>
                                <input type="text" id="txtRutaEnlaceEditar" class="form-control" maxlength="100" placeholder="Ruta enlace...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="txtRutaVideoEditar">Ruta video</label>
                                <input type="text" id="txtRutaVideoEditar" class="form-control" maxlength="100" placeholder="Ruta video...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="fnActualizarClase();" class="btn btn-success btn-rounded mb-3" id="btnActualizarClase">
                        <i class="mdi mdi-plus"></i>Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalEliminarClase" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <input type="hidden" value="" data-idclaseEliminar="" id="hddclaseEliminar" />
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-danger"></i>
                    <h4 class="mt-2">Seguro de Eliminar?</h4>
                    <button type="button" onclick="fn_ConfimarEliminar()" id="mdEliminar" class="btn btn-success my-2" data-dismiss="modal">Si</button>
                    <button type="button" id="" class="btn btn-light my-2" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSuccess" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1"></i>
                    <h4 class="mt-2">DATOS AGREGADOS CORRECTAMENTE!</h4>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@ViewBag.GIDUsuario" id="hddidusuario" />
<input type="hidden" value="@ViewBag.GrolUsuario" id="hddtipousuario" />
@section scripts{
    <script src="~/assets/js/moment.js"></script>
    <script>
        var GvalorIdCurso = 0;
        $('#txtfechaini').val(moment().format("YYYY-MM-DD"));
        $('#txtfechafin').val(moment().format("YYYY-MM-DD"));

        function fn_ListarGradoAgregar() {
            var dtipousuario = $('#hddtipousuario').val();
            var idusuarioparam = $('#hddidusuario').val();
            $('#idGrado').find('option').remove();
            $.ajax({
                type: "POST",
                url: "/curso/ListarGrado",
                data: {
                    "widnivel": parseInt(1),
                },
                success: function (data) {
                    if (data.aaData === "") {
                        alert("¡No hay grados, intenta agregar algunos!");
                    }
                    $('#idGrado').append($("<option></option>")
                        .attr("value", "0")
                        .text("Seleccione una opción"));
                    $.each(data.aaData, function (index, value) {
                        $('#idGrado').append($("<option></option>")
                            .attr("value", value.idgrado)
                            .text(value.SnombreGrado));
                    });

                },
                error: function (data) {
                    console.log(data);
                }
            });

        }

        function fn_ListarCursoAgregar() {
            var slcgradog = $('#idGrado option:selected').attr('value');

            var dtipousuario = $('#hddtipousuario').val();
            var idusuarioparam = $('#hddidusuario').val();
            if (dtipousuario == 1) {
                idusuarioparam = 0;

                $('#idCurso').find('option').remove();
                $.ajax({
                    type: "POST",
                    url: "/clase/ListarClaseGestion",
                    data: {
                        "idgrado": parseInt(slcgradog),
                        "idnivel": parseInt(1)
                    },
                    success: function (data) {
                        if (data.data === "") {
                            alert("¡No hay datos, ¡intenta agregar algunos!");
                        }
                        $('#idCurso').append($("<option></option>")
                            .attr("value", "0")
                            .text("Seleccione una opción"));
                        $.each(data, function (index, value) {
                            $('#idCurso').append($("<option></option>")
                                .attr("value", value.idcurso)
                                .text(value.Snombre));
                        });
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });

            } else {
                var igradovalor = $('#idGrado option:selected').attr('value');
                $('#idCurso').find('option').remove();
                $.ajax({
                    type: "POST",
                    url: "/curso/ListarCursoGestion",
                    data: {
                        "valoritipousuario": 4,
                        "widusuario": idusuarioparam,
                        "idnivel": 1,
                        "idgrado": igradovalor,
                        "idcurso": 0
                    },
                    success: function (data) {
                        if (data.aaData === "") {
                            alert("¡No hay datos, ¡intenta agregar algunos!");
                        }
                        $('#idCurso').append($("<option></option>")
                            .attr("value", "0")
                            .text("Seleccione una opción"));
                        $.each(data.aaData, function (index, value) {
                            $('#idCurso').append($("<option></option>")
                                .attr("value", value.idcurso)
                                .text(value.SnombreCurso));
                        });
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

        }

        function fn_ListarGrado() {
            var dtipousuario = $('#hddtipousuario').val();
            var idusuarioparam = $('#hddidusuario').val();
            $('#idGradog').find('option').remove();
            $.ajax({
                type: "POST",
                url: "/curso/ListarGrado",
                data: {
                    "widnivel": parseInt(1),
                },
                success: function (data) {
                    if (data.aaData === "") {
                        alert("¡No hay grados, intenta agregar algunos!");
                    }
                    $('#idGradog').append($("<option></option>")
                        .attr("value", "")
                        .text("Seleccione una opción"));
                    $.each(data.aaData, function (index, value) {
                        $('#idGradog').append($("<option></option>")
                            .attr("value", value.idgrado)
                            .text(value.SnombreGrado));
                    });

                },
                error: function (data) {
                    console.log(data);
                }
            });

        }

        function fn_ListarCurso() {
            var slcgradog = $('#idGradog option:selected').attr('value');

            var dtipousuario = $('#hddtipousuario').val();
            var idusuarioparam = $('#hddidusuario').val();
            if (dtipousuario == 1) {
                idusuarioparam = 0;

                $('#idCursog').find('option').remove();
                $.ajax({
                    type: "POST",
                    url: "/clase/ListarClaseGestion",
                    data: {
                        "idgrado": parseInt(slcgradog),
                        "idnivel": parseInt(1)
                    },
                    success: function (data) {
                        if (data.data === "") {
                            alert("¡No hay datos, ¡intenta agregar algunos!");
                        }
                        $('#idCursog').append($("<option></option>")
                            .attr("value", "0")
                            .text("Seleccione una opción"));
                        $.each(data, function (index, value) {
                            $('#idCursog').append($("<option></option>")
                                .attr("value", value.idcurso)
                                .text(value.Snombre));
                        });
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });

            } else {
                var igradovalor = $('#idGradog option:selected').attr('value');
                $('#idCursog').find('option').remove();
                $.ajax({
                    type: "POST",
                    url: "/curso/ListarCursoGestion",
                    data: {
                        "valoritipousuario": 4,
                        "widusuario": idusuarioparam,
                        "idnivel": 1,
                        "idgrado": igradovalor,
                        "idcurso": 0
                    },
                    success: function (data) {
                        if (data.aaData === "") {
                            alert("¡No hay datos, intenta agregar una!");
                        }
                        $('#idCursog').append($("<option></option>")
                            .attr("value", "")
                            .text("Seleccione una opción"));
                        $.each(data.aaData, function (index, value) {
                            $('#idCursog').append($("<option></option>")
                                .attr("value", value.idcurso)
                                .text(value.SnombreCurso));
                        });
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        }

        function fn_listartabla(param_valor) {
            $('#tblClase').DataTable(
                {
                    "ajax": {
                        "url": "/Clase/ListarClaseGeneral",
                        "type": "POST",
                        "datatype": "json",
                        "data": { "idcurso": param_valor }
                    },
                    //"bServerSide": true,
                    "bProcessing": true,
                    "bDestroy": true,
                    "language": {
                        "info": "",
                        "infoEmpty": "",
                        "infoFiltered": "",
                        "emptyTable": "No se encontraron registros",
                        "sZeroRecords": "No se encontraron registros.",
                        "processing": "Cargando. Por favor espere...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "sSearch": "Buscar:"
                    },
                    "columns": [
                        { "data": "Snombre", "width": "70%" },
                        { "width": "10%" },
                        { "width": "10%" },
                        { "width": "10%" }
                    ],
                    "aoColumnDefs":
                        [
                            {
                                "mRender": function (data, type, row) {
                                    var strHtml = "<button class='btn btn-danger' onclick='fn_Eliminar()' data-cat=\"" + row.idclase + "|" + "\" id='AcessEliminar' >Eliminar</button>";
                                    return strHtml;
                                },
                                "sWidth": "5px",
                                "sClass": "css-center",
                                "bSort": false,
                                "aTargets": [1]
                            },
                            {
                                "mRender": function (data, type, row) {
                                    var strHtml = "<button class='btn btn-info' onclick='fnAgregarClase(" + row.idclase + ")' data-delet=\"" + row.idclase + "\" id='AccessEliminar' >Agregar tarea</button>";
                                    return strHtml;
                                },
                                "sWidth": "5px",
                                "sClass": "css-center",
                                "bSort": false,
                                "aTargets": [2]
                            },
                            {
                                "mRender": function (data, type, row) {
                                    var strHtml = "<button class='btn btn-warning' onclick='fnEditarClase(" +
                                        row.idclase + ", " +
                                        row.idcurso + ", " +
                                        row.Isemana + ", " +
                                        "\"" + encodeURIComponent(row.Snombre) + "\"" + ", " +
                                        "\"" + encodeURIComponent(row.Sdescripcion) + "\"" + ", " +
                                        "\"" + encodeURIComponent(row.Srutaenlace) + "\"" + ", " +
                                        "\"" + encodeURIComponent(row.SrutaVideo) + "\"" + ", " +
                                        "\"" + encodeURIComponent(row.SimagenRuta) + "\"" + ", " +
                                        ")' style='color: #fff !important;'>Modificar Clase</button>";
                                    return strHtml;
                                },
                                "sWidth": "5px",
                                "sClass": "css-center",
                                "bSort": false,
                                "aTargets": [3]
                            }
                        ]
                });
        }

        $(document).ready(function () {
            fn_ListarGrado();
            fn_ListarGradoAgregar();
            if ($('#hddtipousuario').val() == 2) {
                $('#idCursog').on('change', function () {
                    var GDocenteIdCurso = parseInt($('#idCursog option:selected').attr('value'));
                    if (GDocenteIdCurso == 0) {
                        return;
                    }
                    fn_listartabla(GDocenteIdCurso);
                });

            } else {
                $('#idCursog').on('change', function () {
                    GvalorIdCurso = parseInt($('#idCursog option:selected').attr('value'));
                    if (GvalorIdCurso == 0) {
                        return;
                    }
                    fn_listartabla(GvalorIdCurso);
                });
            }


            $('#idGrado').on('change', function () {
                fn_ListarCursoAgregar();
            });

            $('#idGradog').on('change', function () {
                fn_ListarCurso();
            });



        });

        var idClase = 0;
        //agrega tarea
        function fnAgregarClase(idclasem) {
            idClase = parseInt(idclasem);
            $('#hddidclase').val(idClase);
            $("#modalArchivo").modal("show");
        }

        function fn_Eliminar() {
            $('body').on("click", "#AcessEliminar", function () {
                var id_clase = $(this).attr("data-cat");
                var ArrayClase = id_clase.split("|");
                //alert(ArrayClase[0]);
                $('#hddclaseEliminar').attr("data-idclaseEliminar", ArrayClase[0]);
                $('#modalEliminarClase').modal("show");
            });
        }

        function fn_ConfimarEliminar() {
            var idclase = $('#hddclaseEliminar').attr("data-idclaseEliminar");
            $.ajax({
                type: "POST",
                url: "/Clase/EliminarClaseGestion",
                //contentType: "application/json; charset=utf-8",
                data: {
                    "widclase": idclase
                },
                //dataType: "json",
                //async: true,
                success: function (data) {
                    NotificacionSuccessDerecha("Clase eliminada");
                    $('#modalEliminarClase').modal("hide");
                    GvalorIdCurso = parseInt($('#idCursog option:selected').attr('value'));
                    fn_listartabla(GvalorIdCurso);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            //$.ajax({
            //    type: "POST",
            //    url: "Clase/EliminarClaseGestion",
            //    data: {
            //        "widclase": idclase
            //    },
            //    success: function (data) {
            //        $('#modalEliminarClase').modal("hide");
            //        var table = $('#tblClase').DataTable();
            //        table.ajax.reload();

            //    },
            //    error: function (data) {
            //        console.log(data);
            //    }
            //});
        }

        $("#btnGuardar").click(function () {

            var slcCurso = $('#idCurso option:selected').attr('value');
            var slcCategoria = $('#idCategoria option:selected').attr('value');
            var txtNombre = $('#txtNombre').val();
            var txtDescripcion = $('#txtDescripcion').val();
            var txtRutaEnlace = $('#txtRutaEnlace').val();
            var txtRutaVideo = $('#txtRutaVideo').val();
            var txtRutaImagen = $('#txtRutaImagen').val();
            var slcSemana = $('#idSemana option:selected').attr('value');

            if (txtNombre.trim() == "") {
                NotificacionAvisoDerecha("INGRESE EL NOMBRE DE LA CLASE");
                return;
            }
            if (slcSemana.trim() == 0) {
                NotificacionAvisoDerecha("SELECCIONE EL NÚMERO DE SEMANA");
                return;
            }
            if (txtRutaEnlace.trim() == "") {
                NotificacionAvisoDerecha("INGRESE LA RUTA DEL ENLACE");
                return;
            }
            
            if (!validURL(txtRutaEnlace)) {
                NotificacionAvisoDerecha("INGRESE UNA RUTA DEL VIDEO VÁLIDA");
                return;
            }
            $('#divcarga').addClass("is-active");
            var paramidusuario = $('#hddidusuario').val();
            $.ajax({
                type: "POST",
                url: '/Clase/InsertarClaseGestion',
                data: {
                    "idgrado": slcCurso,
                    "isemana": slcSemana,
                    "nombre": txtNombre,
                    "descripcion": txtDescripcion,
                    "rutaenlace": txtRutaEnlace,
                    "rutavideo": txtRutaVideo,
                    "categoria": 1,
                    "imagen": "",
                    "imagenruta": "",
                    "orden": paramidusuario
                },
                async: true,
                success: function (msg) {
                    $('#divcarga').removeClass("is-active");
                    $('#modalClase').modal("hide");
                    $('#modalSuccess').modal("show");
                    GvalorIdCurso = parseInt($('#idCursog option:selected').attr('value'));
                    fn_listartabla(GvalorIdCurso);
                    $('#txtNombre').val("");
                    $('#txtDescripcion').val("");
                    $('#txtRutaEnlace').val("");
                    $('#txtRutaVideo').val("");
                },
                error: function (msg) {
                    console.log(msg);
                    //location.reload();
                },
                complete: function (data) {
                    // si acabo de completar
                }
            });

        });

        function MostrarResultado() {
            NotificacionSuccessDerecha("Datos ingresados correctamente");
            $('#modalArchivo').modal("hide");
            GvalorIdCurso = parseInt($('#idCursog option:selected').attr('value'));
            fn_listartabla(GvalorIdCurso);
        }

        function fnEditarClase(pidclase, pidcurso, pIsemana, pSnombre, pSdescripcion
            , pSrutaenlace, pSrutaVideo, pSimagenRuta) {
            var sdescripcion = decodeURIComponent(pSdescripcion);
            var senlace = decodeURIComponent(pSrutaenlace);
            var svideo = decodeURIComponent(pSrutaVideo);
            var simagen = decodeURIComponent(pSimagenRuta);
            if (senlace == "-") { senlace = ""; }
            if (svideo == "-") { svideo = ""; }
            if (simagen == "-") { simagen = ""; }
            if (sdescripcion == "-") { sdescripcion = ""; }

            $('#hddidclase').val(pidclase);
            $('#hddidcurso').val(pidcurso);
            $('#hddsemana').val(pIsemana);
            $('#txtNombreEditar').val(decodeURIComponent(pSnombre));
            $('#idSemanaEditar').val("Semana " + pIsemana);
            $('#txtDescripcionEditar').val(sdescripcion);
            $('#txtRutaEnlaceEditar').val(senlace);
            $('#txtRutaVideoEditar').val(svideo);
            $('#modalActualizarClase').modal("show");
        }

        function fnActualizarClase() {

            if ($('#txtNombreEditar').val() == "" || $('#idSemanaEditar').val() == "" || $('#txtRutaEnlaceEditar').val() == "") {
                alert("Falta completar campos");
                return;
            }
            var idclase = $('#hddidclase').val();
            var idcurso = $('#hddidcurso').val();
            var idsemana = $('#hddsemana').val();
            var snombre = $('#txtNombreEditar').val();
            var sdescripcion = $('#txtDescripcionEditar').val();
            var srutaenlace = $('#txtRutaEnlaceEditar').val();
            var srutavideo = $('#txtRutaVideoEditar').val();

            if (!validURL(srutaenlace)) {
                NotificacionAvisoDerecha("INGRESE UNA RUTA DEL VIDEO VÁLIDA");
                return;
            }
            $('#divcarga').addClass("is-active");
            $.ajax({
                type: "POST",
                url: "/Clase/ActualizarClaseGestion",
                async: true,
                data: {
                    "wtiproceso": 1,
                    "widclase": idclase,
                    "widcurso": idcurso,
                    "widsemana": idsemana,
                    "wnombre": snombre,
                    "wdescripcion": sdescripcion,
                    "wrutaenlace": srutaenlace,
                    "wrutavideo": srutavideo,
                    "wimagenruta": ""
                },
                success: function (data) {
                    $('#divcarga').removeClass("is-active");
                    $('#modalActualizarClase').modal("hide");
                    NotificacionSuccessDerecha("Datos actualizados correctamente");
                    GvalorIdCurso = parseInt($('#idCursog option:selected').attr('value'));
                    fn_listartabla(GvalorIdCurso);
                },
                error: function (data) {
                    console.log(data);
                }
            });

        }

        function fnAgregarTarea() {
            var nombre = $('#txtNombreArc').val();
            if (nombre == "") {
                NotificacionAvisoDerecha("INGRESE NOMBRE");
                $('#divcarga').removeClass("is-active");
                return;
            }
            var penlace = $('#txtenlace').val();
            if (!validURL(penlace)) {
                NotificacionAvisoDerecha("INGRESE UNA RUTA DE LA TAREA VÁLIDA");
                return;
            }

            $('#divcarga').addClass("is-active");
            var fdata = new FormData();
            var fileInput = $('#txtvideo')[0].files[0];
            fdata.append("idgrado", $('#hddidclase').val());
            fdata.append("nombre", nombre);
            fdata.append("rutaenlace", $('#txtenlace').val());
            fdata.append("FRutaArchivo", fileInput);
            fdata.append("fechaini", $('#txtfechaini').val());
            fdata.append("fechafin", $('#txtfechafin').val());
            fdata.append("itipoarchivo", 1);
            fdata.append("descripcion", $('#txtdescripcion').val());
            $.ajax({
                type: "POST",
                url: '/Archivo/AgregarArchivo',
                data: fdata,
                processData: false,
                contentType: false,
                async: true,
                success: function (msg) {
                    $('#divcarga').removeClass("is-active");
                    $('#modalArchivo').modal("hide");
                    $('#modalSuccess').modal("show");
                },
                error: function (msg) {
                    console.log(msg);
                    //location.reload();
                },
                complete: function (data) {
                    // si acabo de completar
                }
            });

        }

        function validURL(str) {
            var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
                '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
            return !!pattern.test(str);
        }
    </script>
}