<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <!-- <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">UI Kit</a></li>
                        <li class="breadcrumb-item active">Cards</li>
                    </ol>
                </div> -->
                <h4 class="page-title">CURSOS ASIGNADOS</h4>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var @item in ViewBag.Lista)
        {
            @*<div class="col-md-6 col-lg-3">
                <div class="card d-block">
                    <div class="card-body">
                        <h5 class="card-title">@item.Snombre</h5>
                        <a href="/Clase/Clase?idcurso=@item.idcurso&nombreCurso=@item.Snombre" class="btn btn-primary">Ir a la clase</a>
                    </div>
                </div>
            </div>*@

            <div class="col-lg-4">
                <div class="card ribbon-box">
                    <div class="card-body">
                        <div class="ribbon ribbon-success float-left"><i class="mdi mdi-school-outline"></i>@item.Snombre</div>
                        <h5 class="text-success float-right mt-0">@item.Snombre</h5>
                        
                        <div class="ribbon-content">
                            <a href="/Clase/Clase?idcurso=@item.idcurso&nombreCurso=@item.Snombre" class="btn btn-primary">
                                <i class="mdi mdi-play-outline"></i>Ir a la clase
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script>
    var idCurso = 0;
    //function abrirCurso(idcursom) {
    //    idCurso = parseInt(idcursom);

    //    $.ajax({
    //        type: "POST",
    //        url: "/Clase/ListarClaseGeneral",
    //        //contentType: "application/json; charset=utf-8",
    //        data: {
    //            "widclase": idCurso
    //        },
    //        //dataType: "json",
    //        //async: true,
    //        success: function (data) {
    //            $('#modal-eliminar').modal("hide");
    //            var table = $('#tblClase').DataTable();
    //            table.ajax.reload();
    //            //table.destroy();                
    //            //fn_listarClase();
    //            //$('#modal-eliminar').modal("hide");
    //            //setTimeout("$('#modal-eliminar').modal('hide');", 6000);
    //        },
    //        error: function (data) {
    //            console.log(data);
    //        }
    //    });

    //}

</script>

