<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <!-- <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">UI Kit</a></li>
                        <li class="breadcrumb-item active">Cards</li>
                    </ol>
                </div> -->
                <h4 class="page-title">CURSOS ASIGNADOS</h4>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var @item in ViewBag.Lista)
        {
            <div class="col-md-6 col-lg-3">
                <!-- Simple card -->

                <div class="card d-block">
                    @*<img class="card-img-top" src="assets/images/small/small-1.jpg" alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">@item.Snombre</h5>
                        <a href="javascript: void(0);" class="btn btn-primary">Ir a la clase</a>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->

            </div><!-- end col -->
        }
    </div>
</div>

