@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sistema Colegio | Colegio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <script>
         var RutaPrincipal = "@Url.Content("~")";
    </script>
</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <!-- Logo -->
                    <div class="auth-brand text-center text-lg-left">
                        <a href="index.html" class="logo-dark">
                            <span><img src="assets/images/logo-dark.png" alt="" height="18"></span>
                        </a>
                        <a href="index.html" class="logo-light">
                            <span><img src="assets/images/logo.png" alt="" height="18"></span>
                        </a>
                    </div>

                    <!-- title-->
                    <h4 class="mt-0">Registrate</h4>
                    <p class="text-muted mb-4">Ingrese su usuario y contraseña para acceder a la cuenta.</p>

                    <!-- form -->
                    <form id="frm2">
                        <div class="form-group">
                            <label for="emailaddress">Dirección de correo electrónico</label>
                            <input class="form-control" type="text" id="emailaddress" required="" placeholder="Introduce tu correo electrónico">
                        </div>
                        <div class="form-group">
                            @*<a href="pages-recoverpw-2.html" class="text-muted float-right"><small>Olvidaste tu contraseña?</small></a>*@
                            <label for="password">Contraseña</label>
                            <input class="form-control" type="password" required="" id="password" placeholder="Ingresa tu contraseña">
                        </div>
                        <div class="form-group mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                                @*<label class="custom-control-label" for="checkbox-signin">Recuerdame</label>*@
                            </div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button id="btnLogin" class="btn btn-primary btn-block" type="button"><i class="mdi mdi-login"></i> Iniciar Sesión</button>
                        </div>
                        <!-- social-->
                        <div class="text-center mt-4">
                            <!-- <p class="text-muted font-16">Sign in with</p>
                            <ul class="social-list list-inline mt-3">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul> -->
                        </div>
                    </form>
                    <!-- end form-->
                    <!-- Footer-->
                    <footer class="footer footer-alt">
                        <!-- <p class="text-muted">Don't have an account? <a href="pages-register-2.html" class="text-muted ml-1"><b>Iniciar sesión</b></a></p> -->
                    </footer>

                </div>
                <!-- end .card-body -->
            </div>
            <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->
        <!-- Auth fluid right content -->
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3">I love the color!</h2>
                <p class="lead">
                    <i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! . <i class="mdi mdi-format-quote-close"></i>
                </p>
                <p>
                    - Hyper Admin User
                </p>
            </div>
            <!-- end auth-user-testimonial-->
        </div>
        <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->
    <!-- bundle -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>

</body>


<!-- Mirrored from coderthemes.com/hyper/saas/pages-login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Sep 2020 22:26:26 GMT -->

</html>

<script>
    $('#frm2').submit(false);

    $("#btnLogin").click(function () {
        var ipUsuario = $('#emailaddress').val();
        var ipClave = $('#password').val();

        $.ajax({
            type: "POST",
            url: RutaPrincipal + 'Login/Loginusuario',
            data: {
                "wusuario": ipUsuario,
                "wclave": ipClave
            },
            async: false,
            success: function (msg) {
                if (msg.iResultado === -3) {
                    alert("usuario o clave incorrecta");
                } else {
                    window.location.href = RutaPrincipal + "Home/Index";

                }
            },
            error: function (msg) {
               
                //location.reload();
            },
            complete: function (data) {
                // si acabo de completar
            }
        });

    });
</script>