@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Usuario</a></li>
                        <li class="breadcrumb-item active">Gestión de usuarios</li>
                    </ol>
                </div>
                <h4 class="page-title">MÓDULO USUARIO</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <button type="button" class="btn btn-success btn-rounded mb-3" data-toggle="modal" data-target="#modalUsuario"><i class="mdi mdi-plus"></i>AGREGAR USUARIO</button>
                    </p>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Nivel/Grado</th>
                                        <th>Usuario</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Tipo de usuario</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end tab-content-->

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>

    <div id="modalUsuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">USUARIO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-lg-6">
                            <form id="frmUsuario">
                                <div class="form-group mb-3">
                                    <label for="example-select">Nivel (Primaria / Secundaria)</label>
                                    <select class="form-control" id="idNivel">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Primaria</option>
                                        <option value="2">Secundaria</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-select">Grado</label>
                                    <select class="form-control" id="idGrado">
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-select">Sede</label>
                                    <select class="form-control" id="idSede">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Principal</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Nombres</label>
                                    <input type="text" id="idNombres" placeholder="Nombres" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Apellido Paterno</label>
                                    <input type="text" id="idApPaterno" placeholder="Apellido Paterno" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Apellido Materno</label>
                                    <input type="text" id="idApMaterno" placeholder="Apellido Materno" class="form-control">
                                </div>

                            </form>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <form id="frm2">
                                <div class="form-group mb-3">
                                    <label for="example-select">Tipo Usuario</label>
                                    <select class="form-control" id="idTipoUsuario">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Profesor</option>
                                        <option value="3">Alumno</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-email">Usuario</label>
                                    <input type="text" id="idUsuario" name="example-email" class="form-control" placeholder="Usuario">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-password">Contraseña</label>
                                    <input type="password" id="idContrasenia" class="form-control">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnAgregar"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEditarUsuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dark-header-modalLabel" aria-hidden="true">
        <input type="hidden" value="" data-idusuario="" id="hddusuario" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success">
                    <h4 class="modal-title" id="dark-header-modalLabel">EDITAR USUARIO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-lg-6">
                            <form id="frmUsuario">
                                <div class="form-group mb-3">
                                    <label for="example-select">Nivel (Primaria / Secundaria)</label>
                                    <select class="form-control" id="idNivelEditar">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Primaria</option>
                                        <option value="2">Secundaria</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-select">Grado</label>
                                    <select class="form-control" id="idGradoEditar">
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-select">Sede</label>
                                    <select class="form-control" id="idSedeEditar">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Principal</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Nombres</label>
                                    <input type="text" id="idNombresEditar" placeholder="Nombres" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Apellido Paterno</label>
                                    <input type="text" id="idApPaternoEditar" placeholder="Apellido Paterno" class="form-control">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput">Apellido Materno</label>
                                    <input type="text" id="idApMaternoEditar" placeholder="Apellido Materno" class="form-control">
                                </div>
                            </form>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <form id="frm2">
                                <div class="form-group mb-3">
                                    <label for="example-select">Tipo Usuario</label>
                                    <select class="form-control" id="idTipoUsuario">
                                        <option value="0">Seleccionar</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Profesor</option>
                                        <option value="3">Alumno</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-email">Usuario</label>
                                    <input type="text" id="idUsuario" name="example-email" class="form-control" placeholder="Usuario">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-password">Contraseña</label>
                                    <input type="password" id="idContrasenia" class="form-control">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-rounded mb-3" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-rounded mb-3" id="btnAgregar" onclick="fn_Actualizar()"><i class="mdi mdi-plus"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    
    $("#frmUsuario").submit(false);
    $('#frm2').submit(false);

    $('#idNivel').on('change', function () {
        fn_listarGrado();
    });

    function fn_listarGrado() {
        var slcnivel = $('#idNivel option:selected').attr('value');
        $('#idGrado').find('option').remove();
        $.ajax({
            type: "POST",
            url: "/Curso/ListarGrado",
            data: {
                "widnivel": parseInt(slcnivel)
            },
            success: function (data) {
                if (data.aaData === "") {
                    alert("¡No hay categorias, intenta agregar una!");
                }
                $('#idGrado').append($("<option></option>")
                    .attr("value", "")
                    .text("Seleccione una opción"));
                $.each(data.aaData, function (index, value) {
                    $('#idGrado').append($("<option></option>")
                        .attr("value", value.idgrado)
                        .text(value.SnombreGrado));
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    }




    $("#btnAgregar").click(function () {
        var slcNivel = $('#idNivel option:selected').attr('value');
        var slcGrado = $('#idGrado option:selected').attr('value');
        var slcSede = $('#idSede option:selected').attr('value');
        var ipNombres = $('#idNombres').val();
        var ipApPaterno = $('#idApPaterno').val();
        var ipApMaterno = $('#idApMaterno').val();
        var slcTipoUsuario = $('#idTipoUsuario option:selected').attr('value');
        var ipUsuario = $('#idUsuario').val();
        var ipContrasenia = $('#idContrasenia').val();

        if (slcNivel.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL NIVEL");
            return;
        }
        if (slcTipoUsuario.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL TIPO DE USUARIO");
            return;
        }
        if (slcGrado.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA EL GRADO");
            return;
        }
        if (ipUsuario.trim() == "") {
            NotificacionAvisoDerecha("INGRESE UN NOMBRE DE USUARIO");
            return;
        }
        if (slcSede.trim() == 0) {
            NotificacionAvisoDerecha("SELECCIONA LA SEDE");
            return;
        }

        if (ipContrasenia.trim() == "") {
            NotificacionAvisoDerecha("INGRESE UNA CONTRASEÑA");
            return;
        }
        if (ipNombres.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL NOMBRE");
            return;
        }
        if (ipApPaterno.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL APELLIDO PATERNO");
            return;
        }
        if (ipApMaterno.trim() == "") {
            NotificacionAvisoDerecha("INGRESE EL APELLIDO MATERNO");
            return;
        }

        $.ajax({
            type: "POST",
            url: RutaPrincipal + 'Login/Crearusuario',
            data: {
                "widnivel": slcNivel,
                "widgrado": slcGrado,
                "widsede": slcSede,
                "wnombres": ipNombres,
                "wamaterno": ipApPaterno,
                "wapaterno": ipApMaterno,
                "wtipousuario": slcTipoUsuario,
                "wusuario": ipUsuario,
                "wclave": ipContrasenia
            },
            async: false,
            success: function (msg) {
                NotificacionSuccessDerecha("USUARIO CREADO CORRECTAMENTE");

                $('#idGrado').find('option').remove();
                $("#idNivel").prop('selectedIndex', 0);
                $("#idTipoUsuario").prop('selectedIndex', 0);
                $('#idNombres').val("");
                $('#idApPaterno').val("");
                $('#idApMaterno').val("");
                $('#idUsuario').val("");
                $('#idContrasenia').val("");
                $('#modalUsuario').modal("hide");
                var table = $('#basic-datatable').DataTable();
                table.ajax.reload();
            },
            error: function (msg) {
                var slcNivel = $('#idNivel option:selected').attr('value');
                var slcGrado = $('#idGrado option:selected').attr('value');
                var slcSede = $('#idSede option:selected').attr('value');
                var ipNombres = $('#idNombres').val();
                var ipApPaterno = $('#idApPaterno').val();
                var ipApMaterno = $('#idApMaterno').val();
                var slcTipoUsuario = $('#idTipoUsuario option:selected').attr('value');
                var ipUsuario = $('#idUsuario').val();
                var ipContrasenia = $('#idContrasenia').val();
                //location.reload();
            },
            complete: function (data) {
                // si acabo de completar
            }
        });

    });



    $(document).ready(function () {

        $('#basic-datatable').dataTable({
            "responsive": {
                "details": true,
                "columnDefs": [
                    { "responsivePriority": 1 },
                    { "responsivePriority": 2 }
                ]
            },
            "bServerSide": true,
            "sAjaxSource": RutaPrincipal + 'Login/ListarUsuarioGestion',
            "bProcessing": true,
            "pageLength": 10,
            //"sPaginationType": "full_numbers",
            "bFilter": true,
            //"bSort": false,
            "language": {
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "emptyTable": "No se encontraron registros",
                "sZeroRecords": "No se encontraron registros.",
                "processing": "Cargando. Por favor espere...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sSearch": "Buscar:"
            },
            //"bLengthChange": false,
            "fnDrawCallback": function (oSettings) {
                //si esta cargando la data
            },
            "aoColumns": [
                {
                    "mData": "idnivel",
                    "sClass": "center",
                    "mRender": function (data, type, value) {
                        var valorNivel = ""
                        var valorGrado = "";

                        (value.idnivel == 1) ? valorNivel = "Primaria" : valorNivel = "Secundaria";
                        switch (value.idgrado) {
                            case 1: valorGrado = "Primero"; break;
                            case 2: valorGrado = "Segundo"; break;
                            case 3: valorGrado = "Tercero"; break;
                            case 4: valorGrado = "Cuarto"; break;
                            case 5: valorGrado = "Quinto"; break;
                            case 6: valorGrado = "Sexto"; break;
                            case 7: valorGrado = "Primero"; break;
                            case 8: valorGrado = "Segundo"; break;
                            case 9: valorGrado = "Tercero"; break;
                            case 10: valorGrado = "PRE"; break;
                        }
                        return valorNivel + " / " + valorGrado;
                    }
                },
                { "sName": "Susuario", "mDataProp": "Susuario" },
                { "sName": "Snombres", "mDataProp": "Snombres" },
                {
                    "mData": "SApellidoPaterno",
                    "sClass": "center",
                    "mRender": function (data, type, value) {
                        return value.SApellidoPaterno + " " + value.SApellidoMaterno;
                    }
                },
                { "sName": "Scorreo", "mDataProp": "Scorreo" },
                {
                    "mData": "tipousuario",
                    "sClass": "center",
                    "mRender": function (data, type, value) {
                        if (value.tipousuario == 1) {
                            return "administrador";
                        } else if (value.tipousuario == 2) {
                            return "Docente";
                        }
                        else if (value.tipousuario == 3) {
                            return "Alumno";
                        }
                    }
                },
                {},
                {}
            ],
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                var sEcho = aoData[0].value;
                var iNroPagina = 1;
                var iCantMostrar = 1;

                var sParams = {
                    "usuario": "vacio",
                    "tipousuario": 0
                };

                oSettings.jqXHR = fn_ArmadoAJAX(
                    sSource,
                    sParams,
                    function (result) {
                        fnCallback(result);
                    }, function (error) {
                        // mostrar si hay un error
                        console.log(error);
                    });
            }, "aoColumnDefs":
                [
                    {
                        "mRender": function (data, type, row) {
                            var strHtml = "<button class='btn btn-warning' onclick='fn_Editar()' data-cat=\"" + row.idusuario + "|" + row.idnivel + "|" + row.tipousuario + "|" + row.idgrado + "|" + row.idsede + "|" + row.Snombres + "|" + row.SApellidoPaterno + "|" + row.SApellidoMaterno + "|" + "\" id='AccessEditar' >Editar</button>";
                            return strHtml;
                        },
                        "sWidth": "5px",
                        "sClass": "css-center",
                        "bSort": false,
                        "aTargets": [6]
                    },
                    {
                        "mRender": function (data, type, row) {
                            var strHtml = "<button class='btn btn-danger' onclick='' data-cat=\"" + row.pos_idnivel + "|" + "\" id='AcessEliminar' >Eliminar</button>";
                            return strHtml;
                        },
                        "sWidth": "5px",
                        "sClass": "css-center",
                        "bSort": false,
                        "aTargets": [7]
                    }
                ]
        });

    });

    function fn_Editar() {
        $('body').on("click", "#AccessEditar", function () {
            var id_usuario = $(this).attr("data-cat");
            var ArrayUsuario = id_usuario.split("|");   

            $('#hddusuario').attr("data-idusuario", ArrayUsuario[0]);
            $('#idNivelEditar option[value="' + ArrayUsuario[1] + '"]').attr('selected', 'selected');
            $('#idTipoUsuarioEditar option[value="' + ArrayUsuario[2] + '"]').attr('selected', 'selected');
            $('#idGradoEditar option[value="' + ArrayUsuario[3] + '"]').attr('selected', 'selected');

            $('#idSedeEditar option[value="' + ArrayUsuario[4] + '"]').attr('selected', 'selected');
            $("#idNombresEditar").val(ArrayUsuario[5]);
            $("#idApMaternoEditar").val(ArrayUsuario[6]);
            $("#idApPaternoEditar").val(ArrayUsuario[7]);
            $('#modalEditarUsuario').modal("show");    
        });
    }

    function fn_Actualizar() {
        var iIdUsuario = $('#hddusuario').attr("data-idusuario");
        var iIdNivel = $('#idNivelEditar option:selected').attr('value');
        var iIdTipoUsuario = $('#idTipoUsuarioEditar option:selected').attr('value');
        var iIdGrado = $('#idGradoEditar option:selected').attr('value');
        var iIdSede = $('#idSedeEditar option:selected').attr('value'); 
        var sNombre = $('#idNombresEditar').val();
        var sApellidoPaterno = $("#idApPaternoEditar").val();
        var sApellidoMaterno = $("#idApMaternoEditar").val();

        $.ajax({
            type: "POST",
            url: gRoute + "categoria/ActualizarCategoria",
            data: {
                "wcategoriaid": iIdCategoria,
                "wnombre": sNombre,
                "wcodigo": slcIcono
            },
            success: function (data) {
                $('#modalEditarUsuario').modal("hide");
                var table = $('#tblCategoria').DataTable();
                table.clear().draw();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }


</script>