<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">CALIFICACIONES</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted font-14">
                        <label for="idSemana">Semana</label>
                        <select class="form-control" id="idSemana">
                            <option>Seleccionar</option>
                            <option value="1">Semana 1</option>
                            <option value="2">Semana 2</option>
                            <option value="3">Semana 3</option>
                            <option value="4">Semana 4</option>
                            <option value="5">Semana 5</option>
                            <option value="6">Semana 6</option>
                            <option value="7">Semana 7</option>
                        </select>
                    </p>
                    <!-- end nav-->
                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview">
                            <table id="tblCalificacion" class="table table-striped dt-responsive nowrap w-100">
                                @if (ViewBag.GrolUsuario == 3 && ViewBag.GidNivel == 1 && ViewBag.GidGrado == 5)
                                {
                                    <thead>
                                        <tr>
                                            <th>CURSO</th>
                                            <th>NOTA</th>
                                            <th>OBSERVACIÓN</th>
                                            <th>SEMANA</th>
                                        </tr>
                                    </thead>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var isemana = 0;
        $(document).ready(function () {
            $('#tblCalificacion').DataTable(
                {
                    "ajax": {
                        "url": "/Calificacion/ListarCalificacionGestion",
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "tiponota": 2,
                            "idnota": 0,
                            "isemana" : 1,
                        }
                    },
                    //"bServerSide": true,
                    "bProcessing": true,
                    "language": {
                        "info": "",
                        "infoEmpty": "",
                        "infoFiltered": "",
                        "emptyTable": "No se encontraron registros",
                        "sZeroRecords": "No se encontraron registros.",
                        "processing": "Cargando. Por favor espere...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "sSearch": "Buscar:"
                    },
                    "columns": [

                        { "data": "snombrecurso" },
                        { "data": "i_nota" },
                        { "data": "" },
                        { "data": "Srutaenlace" }
                    ]
                });

            //$('#idSemana').on('change', function () {
            //    isemana = $('#idSemana option:selected').attr('value');
            //});
        });
    });
</script>
